body {
    background-color: #fff;
    font-family: "Poppins";
    padding: 2em;
}

.card {
    margin: 1.5em;
    padding: 1em;
}

.hero-section {
    margin: 1.5em;
    padding: 1em;
    align-items: baseline;
}
